{% extends 'template.html' %} {% block content %}

<section class="booking-section bg-dark section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-12 mx-auto">
        <div class="booking-form-wrap bg-white p-4 rounded shadow">
          <h2 class="text-center my-4 pb-lg-2 text-dark">
            Matriz de Adyacencias
          </h2>

          <!-- Botón Volver -->
          <div class="d-flex justify-content-start mb-4">
            <a href="/" class="btn btn-primary btn-lg">Volver</a>
          </div>

          <!-- Select de origen y destino -->
          <div class="m-5">
            <div class="row">
              <div class="col-lg-6 col-12 mb-3">
                <div class="form-group">
                  <label for="origen" class="text-dark">Origen</label>
                  <select
                    class="form-select mt-2"
                    id="origen"
                    name="origen"
                    required
                  >
                    <option value="" selected disabled>
                      Seleccione una iglesia
                    </option>
                    {% for item in iglesias %}
                    <option value="{{ item._id }}">{{ item._nombre }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-lg-6 col-12 mb-3">
                <div class="form-group">
                  <label for="destino" class="text-dark">Destino</label>
                  <select
                    class="form-select mt-2"
                    id="destino"
                    name="destino"
                    required
                  >
                    <option value="" selected disabled>
                      Seleccione una iglesia
                    </option>
                    {% for item in iglesias %}
                    <option value="{{ item._id }}">{{ item._nombre }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="col-12">
                <button
                  type="button"
                  class="btn btn-info btn-lg mt-4"
                  id="agregar"
                >
                  Agregar
                </button>
              </div>
            </div>
          </div>

          <!-- Matriz de Adyacencias -->
          <div class="table-responsive">
            <table
              id="tabla"
              class="table table-bordered table-hover text-center"
            >
              <thead class="bg-secondary text-white">
                <tr>
                  <th>....</th>
                  {% for item in iglesias %}
                  <th>{{ item._nombre }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody id="matriz_adyacencias">
                {% for i in iglesias %}
                <tr>
                  <td>{{ i._nombre }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Elementos del DOM
    const origen = document.getElementById("origen");
    const destino = document.getElementById("destino");

    // Cargar la matriz de adyacencias al cargar la página
    const urlCarga = "/matriz";
    fetchData(urlCarga);
    console.log("Cargando matriz de adyacencias...");

    // Evento para el botón de agregar
    document.getElementById("agregar").addEventListener("click", function () {
      const origenId = origen.value;
      const destinoId = destino.value;

      if (!origenId || !destinoId) {
        alert("Por favor, seleccione un origen y un destino.");
        return;
      }

      const url = `/grafo_admin_matriz?origen=${origenId}&destino=${destinoId}`;
      console.log("Origen:", origenId);
      console.log("Destino:", destinoId);
      fetchData(url);
    });

    // Función para obtener los datos de la API
    function fetchData(url) {
      fetch(url)
        .then((response) => response.json())
        .then((data) => {
          if (data.error) {
            alert(data.error);
            return;
          }

          const matriz_adyacencias =
            document.getElementById("matriz_adyacencias");
          matriz_adyacencias.innerHTML = "";

          // Renderizar la nueva matriz de adyacencias
          data.matriz.forEach((row, rowIndex) => {
            const tr = document.createElement("tr");
            const td = document.createElement("td");
            td.textContent = data.negocios[rowIndex];
            tr.appendChild(td);

            row.forEach((cell) => {
              const td = document.createElement("td");
              td.textContent = cell;
              tr.appendChild(td);
            });

            matriz_adyacencias.appendChild(tr);
          });
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("Ocurrió un error al procesar la solicitud");
        });
    }
  });
</script>

{% endblock %}
